/* You can add global styles to this file, and also import other style files */

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: #eae3e3;
}

/*******************KENDO RESET CSS***********************/
/* FORM CONTROL */
.k-textbox.form-control {
  height: auto;
}

/* DATA GRID STYLES */
.k-grid-content {
  overflow-x: scroll;
}

/*.k-grid-content {
  max-height: 500px;
}*/

.k-grid-content {
  overflow-x: auto;
}

/* TEXTAREA STYLES */
textarea.k-textbox {
  resize: none;
  overflow-y: auto;
  overflow-x: auto;
}

/* DATEPICKER STYLES */
.k-dateinput-wrap .k-input {
  height: 27.5px;
}

kendo-datepicker.k-datepicker {
  width: 50%;
}

/* DROPDOWN STYLES */
.k-dropdown .k-dropdown-wrap {
  background-color: white;
}

kendo-dropdownlist.k-dropdown {
  width: 50%;
}

.k-dropdown-wrap > span.k-input {
  height: 27.5px;
}

/* MULTISELECT STYLES */
.k-multiselect {
  height: 29.5px
}

span.k-clear-value {
  padding-top: 6px;
}

.k-multiselect-wrap .k-searchbar .k-input {
  font-size: 14px;
}

.k-list .k-item:focus,
.k-list .k-item.k-state-focused,
.k-list-optionlabel:focus,
.k-list-optionlabel.k-state-focused {
box-shadow: none;
}

.k-list .k-item:focus:hover, .k-list .k-item:focus.k-state-hover,
.k-list .k-item.k-state-focused:hover,
.k-list .k-item.k-state-focused.k-state-hover,
.k-list-optionlabel:focus:hover,
.k-list-optionlabel:focus.k-state-hover,
.k-list-optionlabel.k-state-focused:hover,
.k-list-optionlabel.k-state-focused.k-state-hover {
  box-shadow: none;
}

.k-list .k-item:focus.k-state-selected,
.k-list .k-item.k-state-focused.k-state-selected,
.k-list-optionlabel:focus.k-state-selected,
.k-list-optionlabel.k-state-focused.k-state-selected {
  box-shadow: none;
}

.k-list-container .k-list-optionlabel {
  border-bottom-color: none;
}

.k-list-container .k-button:focus,
.k-list-container .k-button.k-state-focused {
  box-shadow: none;
}

.k-list-container .k-button:focus:hover, .k-list-container .k-button:focus.k-state-hover,
.k-list-container .k-button.k-state-focused:hover,
.k-list-container .k-button.k-state-focused.k-state-hover {
  box-shadow: none;
}

.k-list-container .k-button:focus:active, .k-list-container .k-button:focus.k-state-active,
.k-list-container .k-button.k-state-focused:active,
.k-list-container .k-button.k-state-focused.k-state-active {
  box-shadow: none;
}

/*******************KENDO RESET CSS***********************/
/*******************HRM STYLES***********************/
div.hrm-form-column {
  padding-left: 30px;
  padding-right: 30px;
}

.hrm-button {
  min-width: 7em;
  min-height: 3.0em;
  margin-right: 20px;
}

/* loading */
.wrapper-loader {
  background-color: rgba(255,255,255,.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.loader {
  color: #00b5cc;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

.k-invalid-msg {
  color: #ff0000;
  position: relative;
  padding-top: 6px;
  line-height: 14px;
}

.form-group {
  min-height: 50px;
}

/*******************HRM STYLES***********************/